@import url("https://fonts.googleapis.com/css2?family=Tiro+Devanagari+Sanskrit&display=swap");

:root {
	--max-width: 1440px;
	--title: 1.6em;
	--sub-title: 1.15em;
	--gray: #817c814d;
	--pale-orange: rgb(148, 142, 142);
}

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	min-height: 100%;
}

body {
	font-family: "Tiro Devanagari Sanskrit", serif;
}

body,
#shared_layout {
	min-height: 100vh;
}

#shared_layout {
	position: relative;
	margin: 0 auto;
	max-width: var(--max-width);
	border-left: 2px solid var(--gray);
	border-right: 2px solid var(--gray);
}

.backLink {
	text-decoration: none;
	font-style: italic;
	color: black;
	/* margin-bottom: 2em; */
	max-width: fit-content;
	padding: 1em 2em;
}

.backLink:hover {
	text-decoration: underline;
}

#main {
	display: flex;
	flex-direction: column;
	padding: 0 4em;
}

#books {
	display: flex;
	gap: 1em;
	justify-content: center;
	flex-wrap: wrap;
}

.book {
	display: flex;
	flex-direction: column;
	border: 1px solid var(--gray);
	padding: 1.8em 2em;
	border-radius: 0.4em;
}

.title {
	text-align: center;
	padding: 2em 0;
}

.book_title,
.book_author {
	font-weight: medium;
}

.book_title {
	font-size: var(--title);
}

.book_author {
	font-size: var(--sub-title);
	color: var(--pale-orange);
	padding-left: 5px;
}

.book_cover {
	align-self: center;
	padding: 1em;
}

.book_cover img {
	border-radius: 0.4em;
	max-height: 20em;
}
