.book_complete {
	width: 100%;
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
	gap: 3em;
}

.book_details {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}

.book_title {
	font-size: var(--sub-title);
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.book_desc {
	font-weight: var(--light-wght);
	font-size: var(--sub-title);
	margin: 0.8em 0;
}

.editLink {
	color: black;
	font-size: 1.2em;
}

.editLink:hover {
	opacity: 0.7;
}
